*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.content{
    overflow-x: hidden;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1513c;
    z-index: 2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 8px #363636;
}

.container-nav img{
    height: 3.5rem;
    margin: 8px;
}
.container-nav .right-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 18px .5rem;
}
.right-nav .search-bar{
    background-color:#f1513c;
    padding:6px ;
    border-radius: 100px;
    border: 2px solid white;
}
.search-bar input{
    background: #f1513c;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
}
.search-bar a{
    border-radius: 20px;
    background-color: #f1513c;
    font-size: 1rem;
    border-radius: 200px;
    padding: 6px;
    border: none;
    outline:none;
    transition: all .2s;
}
.search-bar a i{
    padding-top: 7px;
}
.search-bar a:hover{
    background-color: #e01a00;
    padding: 9px;
}
.search-bar input::placeholder{
    color: white;
}
.search-bar i{
    color: white;
}

.right-nav h2{
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    text-align: center;
    font-weight: 200;
    
    margin-right: 20px;
    cursor: default;
}
.right-nav a{
    font-size: 1rem;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 1rem;
    transition: all .2s;
}
.right-nav .active,.right-nav a:hover{
    font-size: 1.1rem;
    background-color: #e01a00;
}

.top-img .txt{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor:default;
    font-family: 'Cookie', cursive;
    font-size: 5.2rem;
    font-weight: 100;
    color: #f1513c;
    margin-top: 30px;
    word-spacing: 10px;
}
.top-img .txt #sml{
    color: #adadad;
    font-size: 1.8rem;
    font-weight: lighter;
    margin-top: 20px;
    font-family: 'Bree Serif', serif;
    word-spacing: 4px;
}

.drop-down{
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.drop-down select{

    width: 30%;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #f1513c;
    color: aliceblue;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #f1513c;
    border-radius: 4px;

}

.drop-down select option{
    font-family: 'Montserrat', sans-serif;
}

.items{
    
    margin:3rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items .card{
    margin: 2rem;
    background-color: #E5E5E5;
    width: 24%;
    height: 410px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px #363636;

}

.card img{
    margin: .5rem;
    width: 300px;
}

.card .text{
    margin: .5rem;
}
.card .text .name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.card .text .name h2{

    font-family: 'Bree Serif', serif;
    width: 50%;
    
}

.card .text .name .cal{
    width: 35%;
    margin: 5px;
    border: 3px solid #f1513c;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.card .text .details{
    text-align: left;
    margin-left: 16px;
}

.card .text .btns{
    margin: 1rem 0;
    padding-bottom: 1rem;

}
.btns a{
    margin: 0 20px;
    padding:5px 10px;
    color: white;
    background-color: #f1513c;
    text-decoration: none;
    border-radius: 20px;
    transition: all .3s;
}
.btns .add-1,.btns .add-2,.btns .add-3{
    padding: 5px 20px;
    color: white;
    background-color: #f1513c;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all .3s;
}

.btns a:hover{

    color: #f1513c;
    background-color: aliceblue;
    border: 1px solid #f1513c;

}

.btns .add-1:hover,.add-2:hover,.add-3:hover{

    color: #f1513c;
    background-color:aliceblue ;
    border: 1px solid #f1513c;
    
}
.front-1,.front-2,.front-3{
    position: absolute;
    transition: all .3s ease;
}

.add-meal-1,.add-meal-2,.add-meal-3{

    position: absolute;
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    background-color: rgba(241, 81, 60, 0.7);
    border-radius: 8px;
    transition: all .3s ease;
    
}
.add-meal-1 .inputs,.add-meal-2 .inputs,.add-meal-3 .inputs{

    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    padding-left: 80px;
}
.inputs div{
    background-color: white;
    border: 5px solid #e01a00;
    padding: 10px 20px;
    border-radius: 8px;
    color: #e01a00;
}

.add-meal-1 #close-1,.add-meal-2 #close-2,.add-meal-3 #close-3{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    outline: none;
    border: 2px solid white;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #e01a00;
    transition: all .3s ;

}
.add-meal-1 #close-1:hover,.add-meal-2 #close-2:hover,.add-meal-3 #close-3:hover{
    color:#f1513c;
    background-color: white;
    border:2px solid #e01a00;
}

.save{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.save-1,.save-2,.save-3{
    width: 30%;
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #e01a00;
    transition: all .3s ease;
    outline:none;
}

.save-1:hover,.save-2:hover,.save-3:hover{

    border: 2px solid #e01a00;
    background-color: white;
    color: #e01a00;
}

@media (max-width: 1170px){
    .container-nav .right-nav{
        width: 55%;
    }
}

@media (max-width: 1070px){
    .container-nav .right-nav{
        width: 60%;
    }
}
@media (max-width: 970px){
    .container-nav .right-nav{
        width: 65%;
    }
}
@media (max-width: 870px){
    .container-nav .right-nav{
        width: 70%;
    }
}
